<div>
  <div class="flow-root" *ngIf="selectedInputField===label">
    <div class="float-left">
      <label for="{{label}}"
             class="text-4xl text-conotes-blue block mb-3 font-medium">{{'form.' + label | translate}}
      </label>
    </div>
  </div>
  <div class="flow-root" *ngIf="selectedInputField!==label">
    <div class="float-left">
      <label for="{{label}}"
             class="text-4xl text-gray-300 block mb-3 font-medium">{{'form.' + label | translate}}
      </label>
    </div>
  </div>
  <div>
      <textarea #inputField
                rows="{{rows}}"
                type="text"
                name="{{label}}"
                id="{{label}}"
                [(ngModel)]="ngModel"
                (ngModelChange)="editContent(inputField.value)"
                (focus)="setSelectedInputField(label)"
                (blur)="setSelectedInputField('')"
                class="w-full px-4 py-4 resize-none font-medium text-lg text-gray-300 focus:text-conotes-blue shadow-xl bg-gray-100 focus:bg-indigo-100 rounded-md block border-none outline-none"
      ></textarea>
  </div>
</div>
